---
layout: plans
title: プラン一覧
keywords: Plans
description: プラン一覧ファイルです。
headline: プラン一覧ファイルの見出し
---
.welcome
  .row
    .col.s12.m12.l12  
      .bottom-search-area.hide-sm
        %h2.tag-title.one-line-text
          %span.tag-title-pink 子供と一緒に遊ぶ
          %span.tag-title-white in
          %span.tag-title-pink 石垣島
%section
  .row
    .plans
      .col.s12.m6.l4
        %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
          .card{ style: "background-image: url('../images/plans/img_seacayac.png');" }
            .text-contrast.va-container
              .va-middle
                .h3.strong 親子で1日シーカヤック体験 
                .h4 オーシャンズ石垣島
      .col.s12.m6.l4
        %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
          .card{ style: "background-image: url('../images/plans/img_glass.png');" }
            .text-contrast.va-container
              .va-middle
                .h3.strong プランタイトル 
                .h4 ショップ名
      .col.s12.m6.l4
        %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
          .card{ style: "background-image: url('../images/plans/img_flyfishing.png');" }
            .text-contrast.va-container
              .va-middle
                .h3.strong プランタイトル 
                .h4 ショップ名
      .col.s12.m6.l4.recommend
        .col.s12.m12.l12
          %p.strong あなたにオススメ
        .col.s12.m6.l6 
          %a.recommend{ href: "#" }グループで遊ぶ 
          / %i.mdi-navigation-arrow-forward
        .col.s12.m6.l6   
          %a.recommend{ href: "#" }パドリングレッスン
        .col.s12.m6.l6  
          %a.recommend{ href: "#" }シュノーケリング 
        .col.s12.m6.l6 
          %a.recommend{ href: "#" }親子で遊ぶ   
        .col.s12.m6.l6 
          %a.recommend{ href: "#" }川で遊ぶ 
          / %i.mdi-navigation-arrow-forward
        .col.s12.m6.l6   
          %a.recommend{ href: "#" }観光
        .col.s12.m6.l6  
          %a.recommend{ href: "#" }サーフィンレッスン 
        .col.s12.m6.l6 
          %a.recommend{ href: "#" }ナイトライフ    
      .col.s12.m6.l4
        %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
          .card{ style: "background-image: url('../images/plans/img_river.png');" }
            .text-contrast.va-container
              .va-middle
                .h3.strong プランタイトル
                .h4 ショップ名
      .col.s12.m6.l4
        %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
          .card{ style: "background-image: url('../images/plans/img_suichuu.png');" }
            .text-contrast.va-container
              .va-middle
                .h3.strong プランタイトル 
                .h4 ショップ名
      .col.s12.m6.l4
        %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
          .card{ style: "background-image: url('../images/plans/img_diving.png');" }
            .text-contrast.va-container
              .va-middle
                .h3.strong プランタイトル
                .h4 ショップ名
      .col.s12.m6.l4
        %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
          .card{ style: "background-image: url('../images/plans/img_bicycle.png');" }
            .text-contrast.va-container
              .va-middle
                .h3.strong プランタイトル
                .h4 ショップ名
      .col.s12.m6.l4
        %p.strong お探しのアクティビティが見つかりませんか？
        %a.waves-effect.waves-light.btn
          %i.mdi-navigation-arrow-forward.right 石垣島のアクティビティをもっと見る

      / .col.s12.m6.l4
      /   %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
      /     .card{ style: "background-image: url('../images/plans/img_sisi.png');" }
      /       .text-contrast.va-container
      /         .va-middle
      /           .h3.strong プランタイトル 
      /           .h4 ショップ名
      / .col.s12.m6.l4
      /   %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
      /     .card{ style: "background-image: url('../images/plans/img_sisi.png');" }
      /       .text-contrast.va-container
      /         .va-middle
      /           .h3.strong プランタイトル 
      /           .h4 ショップ名
      / .col.s12.m6.l4
      /   %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
      /     .card{ style: "background-image: url('../images/plans/img_sisi.png');" }
      /       .text-contrast.va-container
      /         .va-middle
      /           .h3.strong プランタイトル 
      /           .h4 ショップ名


