footer {
  margin-top: 0px;
  background-color: #e5e5e5;
  font-color: #f80079; }

  .container {
    text-align: center; 
     margin-bottom: 20px; }

    .row-footer {
      width: 100%; }

    .white-text {
        color: #f80079 !important; }

    .footer-copyright {
        color: #f80079 !important;
        text-align: none; }