/*body*/

.welcome {
width: 100%;
display: table;
margin:0 auto;
padding: 144px 0;
background: linear-gradient( rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.09) ), url('../images/img_top.png') no-repeat center center ;
/*pointer-events: none;*/
background-size: cover;
height: 460px;
box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
position: relative;
/*z-index: -100; }*/
}
.contents-area {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  /position: relative;
  /top: 50%;
  -webkit-filter: none;
  filter: none;
  line-height: 50%; }

  .search {
    /position: relative;
    /top: -50%; }

    .text-jumbo {
      color: #ffffff;    
      font-size: 50px;
      font-weight: 900; }

    .text-jumbo-small {
      color: #ffffff;    
      font-size: 2.6rem;
      font-weight: 900; }

    .top-button {
      background-color: #f80079;
      margin-bottom: 0px;
      margin-top: 0.8rem;
      width: 20rem; }

/*dropdown*/

    .dropdown-content {
      display: block;
      padding: 0rem 0rem!important;
      width: 32rem!important;
      padding-right: 0!important;
      margin-left: -5rem!important;
      padding-right: 0rem!important; }

      .dropdown-content a{
        font-size: 1rem!important;
        color: #f80079;
        padding: 0.3rem 1rem!important; }
        
        .dropdown-content :hover {
          background-color: rgba(0, 0, 0, 0); }
        
        .areaname {
          color: #4f4f4f;
          margin-top:  1rem;
          margin-left: 0.8rem;
          background-color: #ffffff;
          font-size: 1rem;
          font-weight: bold; }
        
        .dropdown-contents {
          width: 100%!important;
          text-align: center; 
          padding-right: 0rem!important;
          margin-right: 0rem!important;}

        .text-position {
          text-align: left!important;}  



/*/dropdown*/

section { 
  background-color: #edefed; }

.row {
  width: 86%;
  margin-bottom: 0px; }

  .row-small {
  width: 100%;
  margin-bottom: 0px; }

  .page-container-responsive { 
     }

  .section-intro {
    padding-top: 1px;
    margin-bottom: 0px;
    text-align: center; }

    .text-lead {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 15px;
      color: #565a5c; }

    .text-lead-small {
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 15px;
      color: #565a5c; }

      .title {
        color: #565a5c;
        font-weight: 300;   
        -webkit-font-smoothing: antialiased; }

      .strong {
        font-weight: bold; }

      .title-strong-small {
        margin:;
        color: #565a5c;
        font-weight: 300;   
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        font-size: 1.8rem;
        text-rendering: optimizelegibility;
        margin-bottom: 0px;
        line-height: 2.2rem;}

  .places {}

    .row.col {
      padding-top: 0rem;
      padding-right: 0rem; }

      .size-wide {
        padding-left: 8px!important;
        padding-right: 8px!important;
        border: none!important; }

        .card {
          background-size: cover;
          background-position: center;
          position: relative;
          height: 196px;
          margin-bottom: 9px;
          line-height: 0;
          border: none!important;
          border-radius: 0!important; }

          .card-wide {
            background-size: cover;
            background-position: center;
            position: relative;
            height: 280px;
            margin-bottom: 0px;
            line-height: 0; 
            border: none!important;}

          .va-container {
            display: table;
            width: 100%;
            height: 100%; 
            border: none!important;}

          .card:hover {
            box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0.28), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
            }


            .text-contrast {
              color: #fff; }

            .text-center {
            text-align: center; }

              .va-middle {
                vertical-align: middle;
                display: table-cell; }

                .h2.strong {
                  text-align: center;
                  font-weight: bold; 
                  font-size: 28px;
                  line-height: 1.1;
                  text-rendering: optimizelegibility;
                  text-shadow: 1px 1px 10px white, 2px 3px 10px #222, -1px -1px 10px #333;
                  }

          .card-image: {
            line-height: 0; }
            /*-webkit-filter: brightness(90%);
            filter: brightness(90%); }*/
        


