%footer
  .container
    .row-footer
      .row
        .col.s4.m4.l4         
          %a{ href: "index.html" }
            %h6.white-text toconatsuについて
        .col.s4.m4.l4        
          %a{ href: "index.html" }
            %h6.white-text ご利用規約
        .col.s4.m4.l4       
          %a{ href: "index.html" }
            %h6.white-text プライバシーポリシー          
  %div{ class: "footer-copyright" }
    %div{ class: "container" }
    © 2015 Toconatsu Copyright
    %a{ class: "grey-text text-lighten-4 right", href: "#!" }More Links


      