---
layout: categories
title: カテゴリ一覧
keywords: Categories
description: カテゴリ一覧ファイルです。
headline: カテゴリ一覧ファイルの見出し
---
.welcome
  .contents-areas
    %span.search
      %h2.text-experience ワクワクする体験をしよう
      %h3.text-place in石垣島
    .bottom-search-area.hide-sm
      .row#datedatedate
        .col.l1#date-date
          %div
          %p.date 日程：
        .col.l1
          %input{ type: "date", class: "datepicker" }
        .col.l1
          %input{ type: "date", class: "datepicker" }
        .col.l2
          %div
          %p.date 興味のあるもの：
        .col.l1
          / %label Materialize Select
          %select
            / %option{ value: "" "disabled selected"; }Choose your option 
            %option{ value: "1" }Option 1
            %option{ value: "2" }Option 1
            %option{ value: "3" }Option 1
        .col.l2 
          %p
          %a.waves-effect.waves-light.btn 検索
        .col.l2
          %p
          %a.waves-effect.waves-light.btn 今週体験可能なプラン


%section
  .row
    .section-intro
      %h3.title.strong 石垣島で人気のアクティビティ
      .col.s12.m12.l12
        .autoplay
          .col.s12.m6.l3
            %a.link-reset.va-container.waves-effect.waves-light{ href: "/s/Seoul--South-Korea?source=ds" }
              .slide-list{ style: "background-image: url('../images/plans/img_seacayac.png');" }
                .text-contrast.va-container
                  .va-middle
                    .h3.strong 親子で1日シーカヤック体験 
                    .h4 オーシャンズ石垣島
          .col.s12.m6.l3
            %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
              .slide-list{ style: "background-image: url('../images/plans/img_glass.png');" }
                .text-contrast.va-container
                  .va-middle
                    .h3.strong プランタイトル 
                    .h4 ショップ名
          .col.s12.m6.l3
            %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
              .slide-list{ style: "background-image: url('../images/plans/img_flyfishing.png');" }
                .text-contrast.va-container
                  .va-middle
                    .h3.strong プランタイトル 
                    .h4 ショップ名
          .col.s12.m6.l3
            %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
              .slide-list{ style: "background-image: url('../images/plans/img_river.png');" }
                .text-contrast.va-container
                  .va-middle
                    .h3.strong プランタイトル
                    .h4 ショップ名
          .col.s12.m6.l3
            %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
              .slide-list{ style: "background-image: url('../images/plans/img_diving.png');" }
                .text-contrast.va-container
                  .va-middle
                    .h3.strong プランタイトル 
                    .h4 ショップ名
          .col.s12.m6.l3
            %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
              .slide-list{ style: "background-image: url('../images/plans/img_sisi.png');" }
                .text-contrast.va-container
                  .va-middle
                    .h3.strong プランタイトル
                    .h4 ショップ名
          .col.s12.m6.l3
            %a.link-reset.va-container{ href: "/s/Seoul--South-Korea?source=ds" }
              .slide-list{ style: "background-image: url('../images/plans/img_asretic.png');" }
                .text-contrast.va-container
                  .va-middle
                    .h3.strong プランタイトル
                    .h4 ショップ名
  .row
    .section-intro
      %h3.title.strong 石垣島のアクティビティをもっと見る
      .col.s12.m6.l4
        .card 
          .card-action
            %a{ href: "#" }プランタイトル
            %i{ class: "mdi-navigation-arrow-forward" }
          .card-image{ href: "index.html.haml" }
            %img{ src:"../images/categories/img_trecking.png" }
      .col.s12.m6.l4
        .card 
          .card-action
            %a{ href: "#" }プランタイトル
            %i{ class: "mdi-navigation-arrow-forward" }
          .card-image
            %img{ src:"../images/categories/img_watersports.png" }
      .col.s12.m6.l4
        .card 
          .card-action
            %a{ href: "#" }プランタイトル
            %i{ class: "mdi-navigation-arrow-forward" }
          .card-image
            %img{ src:"../images/categories/img_surfin.png" }
      .col.s12.m6.l4
        .card 
          .card-action
            %a{ href: "#" }プランタイトル
            %i{ class: "mdi-navigation-arrow-forward" }
          .card-image
            %img{ src:"../images/categories/img_price.png" }
      .col.s12.m6.l4
        .card 
          .card-action
            %a{ href: "#" }プランタイトル
            %i{ class: "mdi-navigation-arrow-forward" }
          .card-image
            %img{ src:"../images/categories/img_sightseeing.png" }
      .col.s12.m6.l4
        .card 
          .card-action
            %a{ href: "#" }プランタイトル
            %i{ class: "mdi-navigation-arrow-forward" }
          .card-image
            %img{ src:"../images/categories/img_iland.png" }
      .col.s12.m6.l4
        .card 
          .card-action
            %a{ href: "#" }プランタイトル
            %i{ class: "mdi-navigation-arrow-forward" }
          .card-image
            %img{ src:"../images/categories/img_children.png" }
      .col.s12.m6.l4
        .card 
          .card-action
            %a{ href: "#" }プランタイトル
            %i{ class: "mdi-navigation-arrow-forward" }
          .card-image
            %img{ src:"../images/categories/img_mangrove.png" }
      .col.s12.m6.l4
        .card 
          .card-action
            %a{ href: "#" }プランタイトル
            %i{ class: "mdi-navigation-arrow-forward" }
          .card-image
            %img{ src:"../images/categories/img_surfin.png" }

:javascript 
  $(document).ready(function(){
    $('.dropdown-button').dropdown();});
:javascript    
  $('.datepicker').pickadate();
:javascript
  $('.autoplay').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,});
:javascript
  $('.datepicker').pickadate();
:javascript
  $('select').material_select();