---
layout: detail
title: プラン詳細一覧一覧
keywords: Detail
description: プラン詳細一覧一覧ファイルです。
headline: プラン詳細一覧ファイルの見出し
---
.detail
  .row
    .col.s12.m12.l8.plan-all
      .col.s12.m12.l12
        .col.s6.m6.l6
          %p.strong ダイビングツアー
        .col.s6.m6.l6
          %a.wish-list     
            %a.wish-text ウィッシュリストに追加する
            %i.mdi-action-favorite.wish-icon
        .col.s12.m12.l12
          .single-item
            .plan-photo
              %img{ src: "../images/plans/img_diving.png", style: "width:  100%;" }
            .plan-photo
              %img{ src: "../images/plans/img_sisi.png", style: "width:  100%;" }
            .plan-photo
              %img{ src: "../images/plans/img_diving.png", style: "width:  100%;" }
            .plan-photo
              %img{ src: "../images/plans/img_seacayac.png", style: "width:  100%;" }  
        .col.s12.m12.l12  
          .plan-ticket  
            .col.s12.m12.l6.button-area
              %a.btn.btn-large.plan-button 青の洞窟体験ダイビング　¥5,800  
            .col.s12.m12.l6.button-area
              %a.btn.btn-large.plan-button 青の洞窟１日ダイビング　¥9,800  
            .col.s12.m12.l6.button-area
              %a.btn.btn-large.plan-button 青の洞窟体験ダイビング　¥5,800  
            .col.s12.m12.l6.button-area
              %a.btn.btn-large.plan-button 青の洞窟１日ダイビング　¥9,800  
          .col.l9.plan-detail    
            .plan-text プランの概要が入りますプランの概要が入りますプランの概要が入りますプランの概要が入りますプランの概要が入りますプランの概要が入りますプランの概要が入りますプランの概要が入りますプランの概要が入りますプランの概要が入りますプランの概要が入りますプランの概要が入りますプランの概要が入りますプランの概要が入りますプランの概要が入りますプランの概要が入ります  
            %p.divider
              .col.l4.title-area
                %i.small.mdi-action-query-builder.symbol-icon
                %p.notice-title 所要時間
              .col.l8
                %p.notice-text 説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります
              .col.l4.title-area
                %i.small.mdi-notification-event-note.symbol-icon
                %p.notice-title 開催日
              .col.l8
                %p.notice-text 夏季〜11月中旬
              .col.l4.title-area
                %i.small.mdi-social-group.symbol-icon
                %p.notice-title 人数
              .col.l8
                %p.notice-text 1人〜6人
              .col.l4.title-area
                %i.small.mdi-action-assignment-ind.symbol-icon
                %p.notice-title 対象年齢
              .col.l8
                %p.notice-text 8歳〜68歳
              .col.l4.title-area
                %i.small.mdi-notification-sms-failed.symbol-icon
                %p.notice-title 持ち物
              .col.l8
                %p.notice-text 持ち物持ち物持ち物持ち物持ち物持ち物持ち物持ち物持ち物持ち物持ち物持ち物持ち物持ち物
              .col.l4.title-area
                %i.small.mdi-action-room.symbol-icon
                %p.notice-title 開催場所について
              .col.l8
                %p.notice-text 説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります
              .col.l4.title-area
                %i.small.mdi-av-new-releases.symbol-icon
                %p.notice-title キャンセルポリシー
              .col.l8
                %p.notice-text 説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります  
              .col.l4.title-area
                %i.small.mdi-action-favorite.symbol-icon
                %p.notice-title 安全に関する情報
              .col.l8
                %p.notice-text 説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります 
          .col.l3.plan-detail
            .reserv-card
              %p.reserv-title 予約する
    .col.s12.m12.l4.plan-all
      .col.s12.m12.l12  
        .sns-btn
        %p.strong aaa
        .plan-photo
          %img.hide-on-small-only{ src: "../images/img_video.png", style: "width: 359px;" "height: 260px;" }
          %img.hide-on-med-and-up{ src: "../images/img_video.png", style: "width: 297px;" "height: 200px;" }
        %a{ href: "#", style: "width:  100%;"}
          %img.hide-on-small-only{ src: "../images/img_gopro.png"}
          %img.hide-on-med-and-up{ src: "../images/img_gopro_small.png"}
        %p.divider
        .plan-title 青の洞窟ダイビングツアーについて
        .plan-text プランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入りますプランの説明が入ります


:javascript 
  $('.single-item').slick(); 
:javascript   
  $(document).ready(function(){
    $('.single-item').slick({
    setting-name: setting-value
    });
  }); 
