---
layout: index
title: インデックス
keywords: Index
description: インデックスファイルです。
headline: インデックスファイルの見出し
---
.welcome
  .contents-area
    %div.search
      %h1.text-jumbo.hide-on-small-only とっておきの沖縄体験
      %h1.text-jumbo-small.hide-on-med-and-up とっておきの沖縄体験
      <!-- Dropdown Trigger -->
      %a.dropdown-button.btn.waves-effect.waves-light.top-button{ href:'index.html.haml', 'data-activates' => 'dropdown1' }場所を検索
      <!-- Dropdown Structure -->
      .container{ id: 'dropdown1', class: 'dropdown-content' }
        .areaname 本島北部
        %li 
          %a{ href: "#!" }名護市
        %li 
          %a{ href: "#!" }今帰仁村
        %li 
          %a{ href: "#!" }恩納村
        %li 
          %a{ href: "#!" }本部町
        %li.divider
        .areaname 本島中部
        %li
          %a{ href: "#!" }うるま市
        %li 
          %a{ href: "#!" }北谷町
        %li 
          %a{ href: "#!" }読谷村
        %li 
          %a{ href: "#!" }嘉手納町
        %li 
          %a{ href: "#!" }宜野湾市        
        %li 
          %a{ href: "#!" }浦添市
        %li.divider
        .areaname 本島南部
        %li
          %a{ href: "#!" }那覇市
        %li
          %a{ href: "#!" }糸満市
        %li
          %a{ href: "#!" }南城市
        / .row  
        /   .col.s12.m6.l3 本島南部
        /   .col.s12.m6.l3 本島中部
        /   .col.s12.m6.l3 本島北部
        /   .col.s12.m6.l3 離島
        / .row
        /   .col.s12.m6.l3
        /     %a{ href: "index.html.haml" }石垣島
        /   .col.s12.m6.l3
        /     %a{ href: "#!" }宮古島
        /   .col.s12.m6.l3  
        /     %a{ href: "#!" }那覇市
        /   .col.s12.m6.l3  
        /     %a{ href: "#!" }名護市
        /   .col.s12.m6.l3  
        /     %a{ href: "#!" }今帰仁村
%section
  .row.hide-on-med-and-down  
    .discovery-section.page-container-responsive.hide-on-med-and-down 
      .section-intro.hide-on-med-and-down
        %h2.title.strong.hide-on-med-and-down 目的地検索
        .text-lead.hide-on-small-only 沖縄体験ができる魅力的な場所を探そう
    .places.hide-on-med-and-down  
      .col.l3.size-wide.hide-on-med-and-down 
        %a.link-reset.va-container.hide-on-med-and-down{ href: "categories/index.html" }
          .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_ishigaki.png');" }
            .text-center.text-contrast.va-container.hide-on-med-and-down
              .va-middle.hide-on-med-and-down
                .h2.strong 石垣島 
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_miyako.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong 宮古島
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_naha.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong 那覇市
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_ginowann.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong 宜野湾市 
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_motobu.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong 本部町 
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_iriomote.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong 西表島
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_nago.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong 名護市
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_chatann.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong 北谷町
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_yomitann.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong 読谷村 
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_onna.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong 恩納村 
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_taketomi.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong 竹富島 
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_uruma.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong うるま市
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_nanjo.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong 南城市
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_urazoe.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong 浦添市
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_itomann.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong 糸満市 
      .col.l3.size-wide.hide-on-med-and-down 
        .card.hide-on-med-and-down{ style: "background-image: url('../images/places/img_nakijinn.png');" }
          %a.link-reset.va-container{ href: "categories/index.html" }
            .text-center.text-contrast.va-container
              .va-middle
                .h2.strong 今帰仁村   
  .row-small.hide-on-large-only
    .discovery-section.page-container-responsive.hide-on-large-only
      .section-intro.hide-on-large-only
        %h2.title-strong-small.hide-on-large-only 目的地検索
        .text-lead-small.hide-on-large-only 沖縄体験ができる魅力的な場所を探そう 
    .places.hide-on-large-only
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_ishigaki.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 石垣島   
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_miyako.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 宮古島   
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_naha.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 那覇市   
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_ginowann.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 宜野湾市   
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_motobu.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 本部町   
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_iriomote.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 西表島  
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_nago.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 名護市  
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_chatann.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 北谷町   
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_yomitann.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 読谷村   
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_onna.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 恩納村   
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_taketomi.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 竹富島   
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_uruma.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong うるま市   
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_nanjo.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 南城市     
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_urazoe.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 浦添市   
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_itomann.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 糸満市   
      .place-image.hide-on-large-only 
        .card-wide.hide-on-large-only{ style: "background-image: url('../images/places/img_nakijinn.png');" }
          %a.link-reset.va-container.hide-on-large-only{ href: "categories/index.html" }
            .text-center.text-contrast.va-container.hide-on-large-only
              .va-middle.hide-on-large-only
                .h2.strong 今帰仁村
                   
:javascript 
  $(document).ready(function(){
    $('.dropdown-button').dropdown();});